*.pyc
/checkpoints/*
/logs/*
/predictions/*
/.idea/*
/pyVSR/*
**/*.pyc
/eval_data/*
/summaries/*
/configs/*
/visualization/*
/alignments/*
/datasets/Grid/*
/datasets/lrs2/icmi2018/*
/datasets/tcdtimit/*
